@model Assets.Models.AssetType

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>AssetType</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AssetType1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AssetType1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.AssetTypeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
